@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 32px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #243e63;
}

input {
  border: none;
}

.no-cursor {
  cursor: not-allowed;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  line-height: 1.5;
  color: #243e63;
}

.purple {
  color: #6415ff;
}

.white {
  color: white;
}

img {
  width: 100%;
}

.section__title {
  font-size: 16px;
  font-weight: 700;
  color: #6415ff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section__header {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.subheader {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
  font-size: 18px;
}
/* 

NAV

*/

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__name {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.025em;
  transition: all 300ms ease;
}

.logo__name:hover {
  color: #6415ff;
}

.logo {
  display: flex;
  width: 50px;
  padding-right: 10px;
}

.nav__link {
  margin: 0 24px;
  padding: 0 0 4px 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.025em;
  position: relative;
}

.nav__link--primary,
.qw__btn {
  background-color: #6415ff;
  margin: 0;
  padding: 12px 32px;
  border-radius: 20px;
  color: white;
  transition: all 300ms ease;
}

.nav__link--primary:hover,
.header__btn:hover,
.qw__btn:hover {
  background-color: #5011cc;
}

.nav__link--login {
  margin-left: 40px;
}

.link__hover-effect:hover {
  color: #6415ff;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -3px;
  background-color: #6415ff;
  opacity: 0;
  transition: all 300ms ease-out;
}

.link__hover-effect:hover:after {
  opacity: 1;
  right: 0;
}

/* 

LANDING PAGE

*/

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__wrapper {
  width: 43%;
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.header__img--wrapper {
  width: 50%;
}

.header__para {
  margin: 32px 0;
  color: #243e63;
}

.header__form {
  position: relative;
  border: 2px solid rgba(128, 128, 128, 0.3);
  border-radius: 100px;
  overflow: hidden;
}

.header__input {
  padding: 20px 192px 20px 32px;
  outline: none;
}

.header__form:hover {
  border-color: #bfc3c9;
}

.header__form:focus {
  border: 3px solid #6415ff;
}

.header__input:placeholder-shown {
  font-size: 100%;
  font-weight: 500;
  opacity: 0.25;
}

.header__btn {
  background-color: #6415ff;
  color: white;
  position: absolute;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 100px;
  right: 6px;
  top: 4px;
  font-weight: 700;
  border: none;
}

.header__footer {
  margin: 80px 0 0 0;
}

.header__footer--para {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(160, 174, 192);
  letter-spacing: 0.025em;
}

.trusted__customers {
  padding-right: 64px;
  margin-top: 16px;
  opacity: 0.5;
}

/*

FEATURES

*/

.features__row,
.pricing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__subheader,
.pricing__subheader {
  text-align: center;
  margin: 16px 0 0;
  max-width: 36rem;
}

.div__spacer {
  height: 2.5rem;
  width: 100%;
}

.features__items--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.features__item {
  width: 30%;
  display: flex;
  margin: 0 16px;
  padding: 32px 8px;
}

.fi__header--para--wrapper {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 16px;
}

.features__item--header {
  font-size: 24px;
  font-weight: 700;
}

.features__item--para {
  font-size: 16px;
  margin: 16px 0 0;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 2;
}

.features__item--img--container {
  height: 66px;
  width: 66px;
  padding: 20px;
  border: 1px solid rgb(36, 36, 36, 0.15);
  border-radius: 9999px;
}

.features__item--img {
  width: 24px;
  height: 24px;
}

/*

QUALITY WORK

*/

.qw__row,
.values__row {
  display: flex;
}

.qw__header {
  line-height: 1.25;
}

.section__content--wrapper {
  width: 45%;
  margin: 0 64px 0 0;
}

.section__img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.qw__subheader {
  margin: 16px 0 0;
}

.qw__btn {
  font-weight: 700;
  border: none;
  margin: 32px 0 0;
  border-radius: 9999px;
}

/*

STEPS

*/

.steps__container {
  display: flex;
  flex-direction: row-reverse;
}

.steps__row {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 0 0 4rem;
  padding: 2rem 0;
}

.steps__step {
  margin: 32px 0 0;
  display: flex;
  max-width: 500px;
}

.step {
  margin: 0 0 0 24px;
}

.step__title {
  font-size: 20px;
}

.step__para {
  font-size: 14px;
  margin: 12px 0 0;
  color: #718096;
  line-height: 2;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
}

/*

VALUES

*/

.i__wrapper {
  height: 36px;
  width: 36px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dolsign {
  background-color: #9ae6b4;
}

.suitcase {
  background-color: #feb2b2;
}

.values__items {
  display: flex;
  justify-content: space-around;
}

.vi__header--wrapper {
  display: flex;
}

.values__item {
  margin: 32px 32px 0 0;
}

.vi__header {
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.vi__para {
  line-height: 1.625;
  margin-top: 1rem;
  font-size: 16px;
}
