@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 32px;
}

.row {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.container {
  padding: 96px 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #243e63;
}

input {
  border: none;
}

.no-cursor {
  cursor: not-allowed;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
  line-height: 1.5;
  color: #243e63;
}

.purple {
  color: #6415ff;
}

img {
  width: 100%;
}

.section__title {
  font-size: 16px;
  font-weight: 700;
  color: #6415ff;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.section__header {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 0.025em;
}

.subheader {
  color: #7c8ba1;
  font-weight: 500;
  line-height: 1.625;
  font-size: 18px;
}
/* 

NAV

*/

.nav__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__name {
  font-weight: 900;
  font-size: 24px;
  letter-spacing: 0.025em;
  transition: all 300ms ease;
}

.logo__name:hover {
  color: #6415ff;
}

.logo {
  display: flex;
  width: 50px;
  padding-right: 10px;
}

.nav__link {
  margin: 0 24px;
  padding: 0 0 4px 0;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.025em;
  position: relative;
}

.nav__link--primary,
.qw__btn {
  background-color: #6415ff;
  margin: 0;
  padding: 12px 32px;
  border-radius: 20px;
  color: white;
  transition: all 300ms ease;
}

.nav__link--primary:hover,
.header__btn:hover,
.qw__btn:hover {
  background-color: #5011cc;
}

.nav__link--login {
  margin-left: 40px;
}

.link__hover-effect:hover {
  color: #6415ff;
}

.link__hover-effect:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  left: 0;
  bottom: -3px;
  background-color: #6415ff;
  opacity: 0;
  transition: all 300ms ease-out;
}

.link__hover-effect:hover:after {
  opacity: 1;
}

.btn__menu {
  border: none;
  font-size: 24px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: white;
  margin: 24px 16px;
  padding: 32px;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9999;
  text-align: center;
  border: 1px solid #00000020;
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 300ms ease;
  visibility: hidden;
}

.menu--open {
  overflow-y: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
}

.btn__menu--close {
  position: absolute;
  right: 16px;
  top: 16px;
}

.menu__list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__link {
  font-size: 18px;
  margin: 8px 0;
  padding: 0 0 4px;
  font-weight: 600;
  letter-spacing: 0.025em;
  position: relative;
}

.menu__link--main {
  color: white;
  border-radius: 9999px;
  background-color: #6415ff;
  padding: 12px 32px;
  transition: all 300ms ease;
}

.menu__link--main:hover {
  background-color: #5011cc;
}

/* 

LANDING PAGE

*/

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__wrapper {
  width: 43%;
  display: flex;
  flex-direction: column;
}

.header__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
}

.header__img--wrapper {
  width: 50%;
}

.header__para {
  margin: 32px 0;
  color: #243e63;
  font-size: 16px;
}

.header__form {
  position: relative;
  border: 2px solid rgba(128, 128, 128, 0.3);
  border-radius: 100px;
  overflow: hidden;
}

.header__input {
  padding: 20px 192px 20px 32px;
  outline: none;
}

.header__form:hover {
  border-color: #bfc3c9;
}

.header__form:focus-visible {
  border-color: #6415ff;
}

.header__input:placeholder-shown {
  font-size: 100%;
  font-weight: 500;
  opacity: 0.25;
}

.header__btn {
  background-color: #6415ff;
  color: white;
  position: absolute;
  padding: 16px 32px;
  font-size: 16px;
  border-radius: 100px;
  right: 6px;
  top: 4px;
  font-weight: 700;
  border: none;
}

.header__footer {
  margin: 80px 0 0 0;
}

.header__footer--para {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: rgb(160, 174, 192);
  letter-spacing: 0.025em;
}

.trusted__customers {
  padding-right: 64px;
  margin-top: 16px;
  opacity: 0.5;
}

/*

FEATURES

*/

.features__row,
.pricing__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__subheader,
.pricing__subheader {
  text-align: center;
  margin: 16px 0 0;
  max-width: 36rem;
}

.div__spacer {
  height: 2.5rem;
  width: 100%;
}

.features__items--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.features__item {
  width: 30%;
  display: flex;
  margin: 0 16px;
  padding: 32px 8px;
}

.fi__header--para--wrapper {
  display: flex;
  flex-direction: column;
  margin: 8px 0 0 16px;
}

.features__item--header {
  font-size: 24px;
  font-weight: 700;
}

.features__item--para {
  font-size: 16px;
  margin: 16px 0 0;
  font-weight: 500;
  color: #7c8ba1;
  line-height: 2;
}

.features__item--img--container {
  height: 66px;
  width: 66px;
  padding: 20px;
  border: 1px solid rgb(36, 36, 36, 0.15);
  border-radius: 9999px;
}

.features__item--img {
  width: 24px;
  height: 24px;
}

/*

QUALITY WORK

*/

.qw__row,
.values__row {
  display: flex;
}

.qw__header {
  line-height: 1.25;
}

.section__content--wrapper {
  width: 45%;
  margin: 0 64px 0 0;
}

.section__img--wrapper {
  width: 50%;
  display: flex;
  align-items: center;
}

.qw__subheader {
  margin: 16px 0 0;
}

.qw__btn {
  font-weight: 700;
  border: none;
  margin: 32px 0 0;
  border-radius: 9999px;
}

/*

STEPS

*/

.steps__container {
  display: flex;
  flex-direction: row-reverse;
}

.steps__row {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 0 0 4rem;
  padding: 2rem 0;
}

.steps__step {
  margin: 32px 0 0;
  display: flex;
  max-width: 500px;
}

.step {
  margin: 0 0 0 24px;
}

.step__title {
  font-size: 20px;
}

.step__para {
  font-size: 14px;
  margin: 12px 0 0;
  color: #718096;
  line-height: 2;
}

.step__number {
  color: #cbd5e0;
  font-size: 36px;
}

/*

VALUES

*/

.i__wrapper {
  height: 36px;
  width: 36px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dolsign {
  background-color: #9ae6b4;
}

.suitcase {
  background-color: #feb2b2;
}

.values__items {
  display: flex;
  justify-content: space-around;
}

.vi__header--wrapper {
  display: flex;
}

.values__item {
  margin: 32px 32px 0 0;
}

.vi__header {
  font-size: 20px;
  font-weight: 700;
  margin-left: 12px;
}

.vi__para {
  line-height: 1.625;
  margin-top: 1rem;
  font-size: 16px;
}

/*

PRICING

*/

.st__pricing {
  margin: 0 0 16px;
}

.pricing__plans {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.pp {
  padding: 0.5rem 2rem 0;
  margin: 4rem 2rem 0 0;
  width: 31%;
  border: 2px solid rgb(226, 232, 240);
  border-radius: 0.5rem;
  position: relative;
}

.pp__highlight {
  position: absolute;
  width: 100%;
  height: 0.5rem;
  top: 0;
  left: 0;
  right: 0;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.pp__highlight--personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
}

.pp__top {
  padding: 32px 0;
}

.pp__features {
  padding: 32px;
  margin: 0 -32px;
  border-bottom: 2px solid rgb(226, 232, 240);
  border-top: 2px solid rgb(226, 232, 240);
}

.pp__top,
.pp__features {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.pp__header,
.ppi__main--feature,
.pp__price {
  color: #1a202c;
  font-weight: 700;
}

.pp__header,
.ppi__main--feature {
  font-size: 20px;
}

.pp__header {
  text-transform: uppercase;
}

.pp__price {
  font-size: 48px;
  margin: 4px 0;
}

.pp__duration {
  font-size: 16px;
  color: #a0aec0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.ppi__feature {
  color: #718096;
  font-size: 16px;
  margin: 20px 0 0;
  font-weight: 500;
}

.pp__btn--wrapper {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pp__btn--personal,
.pp__highlight--personal {
  background: linear-gradient(
    115deg,
    rgb(56, 178, 172) 0%,
    rgb(129, 230, 217) 100%
  );
  color: white;
}

.pp__main {
  background-image: linear-gradient(
    135deg,
    rgb(76, 81, 191) 0%,
    rgb(102, 126, 234) 100%
  );
}

.white {
  color: white;
}

.pp__btn--main {
  color: #6415ff;
  background-color: #f7fafc;
}

.pp__btn--enterprise,
.pp__highlight--enterprise {
  background: linear-gradient(
    115deg,
    rgb(245, 101, 101) 0%,
    rgb(254, 178, 178) 100%
  );
  color: white;
}

.pp__btn {
  padding: 16px 32px;
  font-size: 14px;
  font-weight: 700;
  border: none;
  border-radius: 9999px;
  text-transform: uppercase;
  width: 100%;
  transition: all 200ms ease;
}

.pp__btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 8px #00000020;
}

.pp__btn--main:hover {
  background-color: #e2e8f0;
}

/*

ABOVE FOOTER

*/
.af__container {
  background-color: #6415ff;
  border-radius: 10px;
  padding: 96px 0;
}

.af__content--wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px;
  margin: 0 50.5px;
}

.af__btns {
  display: flex;
  align-items: center;
  justify-content: right;
  max-width: 480px;
}

.af__btn {
  padding: 20px 40px;
  font-size: 16px;
  border-radius: 9999px;
  font-weight: 700;
  letter-spacing: 0.025em;
  border-color: transparent;
  transition: all 300ms ease;
}

.af__btn--red {
  background-color: #f56565;
  margin: 0 32px 0 0;
}

.af__btn--red:hover {
  background-color: #e53e3e;
}

.af__btn--clear {
  background-color: transparent;
  border: 1px solid white;
}

.af__btn--clear:hover {
  background-color: white;
  color: #6415ff;
}

.af__text {
  font-size: 30px;
  font-weight: 700;
  max-width: 480px;
}

/* 

FOOTER

*/

.footer__container {
  background-color: #6415ff;
  padding: 32px 32px 6rem;
  margin: 0 -32px -32px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
}

.fc__links {
  display: flex;
  flex-direction: column;
  margin: 48px 0 0;
}

.fc__links--title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 12px;
}

.fc__link {
  position: relative;
  font-size: 14px;
  margin: 12px 0 0;
  padding: 0 0 2px;
  max-width: fit-content;
}

.fc__link:hover {
  color: white;
}

.fc__link:after {
  background-color: white;
}

.footer__divider {
  margin: 64px 0;
  width: 100%;
  border-bottom: 2px solid rgb(116 44 255);
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  margin: 0;
  padding: 0;
  height: 32px;
  width: 32px;
}

.fl__name {
  font-size: 20px;
  font-weight: 900;
  color: white;
  margin: 0 0 0 8px;
  letter-spacing: 0.05em;
}

.footer__copyright {
  color: #cbd5e0;
  font-size: 16px;
  font-weight: 500;
}

.footer__social--links {
  display: flex;
}

.social__link {
  margin: 0 16px 0 0;
}

.social__link:last-child {
  margin: 0;
}

.fab {
  padding: 8px;
  border-radius: 9999px;
  background-color: white;
  transition: all 300ms ease;
}

.fab:hover {
  background-color: rgb(203 213 224);
}

.fa-facebook-f {
  padding: 8px 11px;
}

/* LARGE LAPTOPS, DESKTOPS */

@media (min-width: 1200px) {
  .header__title {
    font-size: 48px;
  }

  .header__para {
    font-size: 18px;
  }
}

/* LARGE TABLETS, SMALL LAPTOPS */

@media (max-width: 1024px) {
  .nav__links {
    display: none;
  }

  .btn__menu {
    display: flex;
  }

  .header__container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .header__wrapper {
    width: 60%;
  }

  .header__title {
    font-size: 30px;
  }

  .header__para {
    margin: 20px 0;
  }

  .values__items {
    flex-direction: column;
  }

  .pricing__plans,
  .af__content--wrapper {
    flex-direction: column;
    align-items: center;
  }

  .pp {
    width: 380px;
  }

  .af__btns {
    margin: 24px 0 0;
  }
}

/* LARGE SMART PHONES */

@media (max-width: 768px) {
  .section__header {
    font-size: 36px;
    text-align: center;
  }

  .section__content--wrapper,
  .steps__row {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    max-width: 450px;
  }

  .section__img--wrapper {
    width: 80%;
    margin: 32px auto;
  }

  .steps__container,
  .qw__row,
  .values__row {
    flex-direction: column-reverse;
  }

  .sh__features,
  .sh__pricing {
    font-size: 48px;
  }

  .subheader {
    font-size: 14px;
  }

  .header__img--wrapper {
    width: 80%;
  }

  .features__item {
    width: 55%;
  }

  .steps__step {
    display: flex;
    flex-direction: column;
    margin: 32px auto 0;
  }

  .step,
  .step__number {
    margin: 0 auto;
  }

  .step {
    width: 320px;
  }

  .vi__header--wrapper {
    justify-content: center;
  }

  .values__items {
    text-align: center;
  }

  .footer__columns {
    flex-wrap: wrap;
    justify-content: start;
  }

  .fc__links {
    width: 33%;
  }

  .footer__bottom {
    flex-direction: column;
  }

  .footer__copyright,
  .footer__social--links {
    margin: 32px auto 0;
  }
}

/* SMALL PHONES */

@media (max-width: 550px) {
  .header__wrapper {
    width: 80%;
  }

  .header__form {
    border: none;
  }

  .header__input {
    border: 2px solid rgba(128, 128, 128, 0.3);
    border-radius: 100px;
    overflow: hidden;
    padding: 20px 32px;
  }
  .header__btn {
    position: initial;
    margin: 16px 0;
  }

  .header__footer {
    margin: 48px 0 0;
  }

  .af__content--wrapper {
    margin: 0 auto;
  }

  .af__text {
    font-size: 24px;
    text-align: center;
  }

  .af__btn {
    padding: 12px 24px;
    font-size: 14px;
    margin: 16px auto 0;
  }

  .af__btns {
    flex-direction: column;
  }

  .footer__columns {
    justify-content: center;
  }

  .fc__links {
    width: 25%;
    align-items: center;
  }
}
